/*styles.css*/

h1, h2, h3 {
    text-transform: uppercase;
    color: #ffa500; /* Tono de energía */
    text-shadow: 2px 2px 8px rgba(255, 165, 0, 0.7);
}


/* Aplicar Orbitron para encabezados y títulos */
h1, h2, h3, .section-title {
    font-family: 'Orbitron', sans-serif;
}

/* Aplicar Russo One para botones y enlaces */
a, button, .btn-action, .btn-link {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}
